@model IEnumerable<RecipesMVC.Models.RecipeClass>



@{ ViewData["Title"] = "FindRecipe"; }



<h1>Recipes</h1>



<form asp-controller="Recipes" asp-action="FindRecipe" method="get">
    <p>
        Search using ingredient: <input type="text" name="ingre" />
        <input type="submit" value="Find" />
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                S.no.
            </th>
            <th>
                Recipe Name
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Rid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Rname)
    </td>
    <td>
        <a asp-action="Starred" asp-route-id="@item.Rid"><i class="far fa-star"></i></a>
    </td>
    <td>
        <a asp-action="Details" asp-route-id="@item.Rid">Details</a>

    </td>
</tr>}
    </tbody>
</table>
