@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section css {
    <link href="@Url.Content("~/css/Indexstyle.css")" rel="stylesheet" />
}
<body style="margin-top: 50px; background-image: url('images/bg.jpg'); background-size: cover; background-repeat: no-repeat; overflow-x: hidden;">
    <div class="blob" style=" background: rgba(255, 255, 255, 0.7); width: 900px; height: 250px; border-radius: 30px; text-align: center; line-height: 250px; color: white; margin: 0 auto; font-size: 50px; color: black;"><b><i>WELCOME TO URECIPE</i></b></div>
</body>


